<div class="row">
    <div class="col-xs-12 {{ block.css }} app-block" ng-repeat="block in blocks">
      <div class="app-block-content">
        <div ng-if="block.link">
          <h2><a href="{{ block.link }}" ng-bind-html="block.title"></a></h2>
        </div>
        <div ng-if="block.image">
          <img ng-src="{{ block.image }}" class="img-responsive" alt="Responsive image">
        </div>
        <div ng-if="! block.link">
          <h2>{{ block.title }}</h2>
        </div>
        <p ng-if="block.content" class="lead" ng-bind-html="block.content">
        </p>
      </div>
    </div>
</div>